body{
    background-color: #d6d6da;
    

}

.main{
    background-color: rgb(187, 190, 194);  
    width: 100%;
    align-content: center;
    flex-wrap: wrap;
   
}

.comeco{
   background-color: rgb(133, 194, 247);
   width: 100%;   
}

.comeco ul{
    display: flex;
    list-style: none;
    justify-content:space-around;
    padding: 5px;    
}

.comeco img{
    width: 15px;
    height: 15px; 
}

.menu ul{
    display: flex;
    list-style: none;
    justify-content: space-between;    
    padding: 10px;
}

.menu li{
 padding: 5px;      
}


.menu li:hover{
    transition: 0.5s;
    background-color: rgba(33, 33, 129, 0.658);
    
}

.container {
    position: relative;
    margin: auto;
}

.container img {
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 28px;
    background-color: #000000a2;
    color: #ffffff;
    transition: 0.6s;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: #000000;
    transition: 0.6s;
}

.dot_box {
    text-align: center;
    padding: 10px;
}

.dot {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    background-color: #727385;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s;
}
.active, .dot:hover {
    background-color: #e6e6e6;
    transition: 0.6s;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

.conteudo {
    width: 70%;
    margin: auto;
    background-color: #727385;
    border-radius: 50px;
    padding: 10px;
}

h2{
    text-align: center;    
    justify-content: space-around;
    margin-bottom: 10px;
}

.conteudo ul{
    display: flex;
    list-style: none;
    justify-content:space-around;
    padding: 5px;  
    
}

.conteudo a{
    color: #000000;
}

.conteudo li:hover{
    transition: 0.5s;
    background-color: #d5d6e0;
}

.footer{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 5px;

}

